

<div class="justify-content-center m-5">
    <h1 class="row">{{album}}</h1>
    <p>an album by:</p>
    {{#each artist}}
    <h2>{{this.name}}</h2>
    {{/each}}
</div>

<table class="p-5 table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Listen</th>
      
    </tr>
  </thead>
  <tbody>
      {{#each tracks}}
    <tr>
      <th scope="row">{{this.name}}</th>
      <td><figure>
    <figcaption>Preview: {{this.name}}</figcaption>
    <audio
        controls
        src="{{this.preview_url}}">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
</figure></td>
      
    </tr>
    {{/each}}
  </tbody>
</table>